html,
body{
    font-family: arial;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
}
header{
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #212F3C;
    /* justify-content: space-between; */
    padding-bottom: 100px;
}

.top,ul{
    display: flex;
}

h1{
    margin-left: 10%;
    font-size: 24px;
    color: #f9faf8;
}

ul{
    margin-left: auto;
    /* margin-right: 20px; */
    list-style: none;
    margin-right: 250px;
    gap: 20px;
}

.hero{
    display: flex;
    justify-content:center;
    margin-top: 100px;
    gap: 400px;
}

.description{
    display: flex;
    flex-direction: column;
    
}

.description-secondary{
    margin-bottom: 25px;
    color: #D3D3D3;
}

h2{
    font-size: 48px;
    color: #f9faf8;
    margin: 0;
}

.left-section{
    width: 400px;
}

.right-section{
    width:400px;
    flex-shrink: 0;
}

.img1{
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
}

ul a{
    text-decoration: none;
    color: #D3D3D3;
}
a[class="sign-up"]{
    text-decoration: none;
    color: #FFFFF0;
}
.sign-up-container{
    width: 100px;
    font-weight: bolder;
    background-color: #3b82f6;
    padding: 10px;
    border-radius: 7px;
    width: 120px;
    text-align: center;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 50px 0;

}

.cards{
    display: flex;
    justify-content: center;
    gap: 28px;
    width: min-content;
}

.card-content{
    height: 180px ;
    width: 180px;
    border:solid #3b82f6 3px;
    border-radius: 20px;
    margin: 25px 0 ;
    transition: background-color 1s ease;
}

.card-description{
    text-align: center;
}

h3{
    font-weight: 750;
    font-size: 36px;
}

.card-content:hover {
    background-color: #a0a0a0;
}

.quote{
    display: flex;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    height: 500px;
    justify-content: center;
    align-items: center;
    padding:0 200px;
    font-weight: lighter;
    margin:40px 0;
}

.action{
    background-color: #3882F6;
    width: 80%;
    color:#fff;
    padding: 50px;
    border-radius: 7px;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

}

h4{
    font-size: 24px;
}

button{
    background-color:#3882F6;
    color: white;
    border: 2px solid white;
    width: 100px;
    padding: 5px;
    border-radius: 3px;
}

.left-action{
    margin-bottom: 2%;
}

footer{
    background-color: #212F3C;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}